<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path("x8iluwga0a1ago3rmnld", crop: :fill) %>');">
  <div class="container">
  <h1>Emerald Cocktails</h1>
    <p>Don't get too drunk in the process</p>
    <%= link_to "Create", new_cocktail_path, class: "btn btn-success"%>
  </div>
</div>


<div class="container justify-content-center d-flex flex-column pt-4">
<h2 class="ml-3">Top Drinks</h2>

<div class="cards">
  <% @cocktails.each do |c| %>
    <%= link_to cocktail_path(c) do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path("x8iluwga0a1ago3rmnld", crop: :fill) %>');">
        <%= c.name %>
      </div>
    <% end %>
  <% end %>
</div>
