<h1><%= @cocktail.name %></h1>

<% @cocktail.doses.each do |d| %>
  <%= d.ingredient.name %> - <%= d.description %>
   |
   <%= link_to dose_path(d), method: :delete do %>
    <i class="fas fa-trash"></i>
   <% end %>


<% end %>


<p><%= link_to "Back", root_path %> <span>|</span> <%= link_to "Add ingredient", new_cocktail_dose_path(@cocktail) %></p>
