<div class="container">
<div class="container bg-white p-3 m-3">
  <h1>New Dose for: [<%= @cocktail.name %>] | <%= link_to "Back", cocktail_path(params[:cocktail_id]) %></h1>

</div>

  <div class="container p-3 m-3">
    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.association :ingredient %>
      <%= f.input :description %>
      <%= f.button :submit, class: "btn btn-success" %>
    <% end %>
  </div>
</div>
